* {
    margin: 0;
    padding: 0;
}  
.cabecalho {
    background-color: #84deff;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}
.cabecalho-imagem {
    width: 22%;
}
.cabecalho-lista-item {
    display: inline-block;
    align-items: center;
    padding: 7px;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.escola {
    background: rgb(132,222,255);
    background: linear-gradient(rgba(132,222,255,1) 0%, rgba(90,181,214,1) 32%, rgba(52,148,183,1) 64%, rgba(23,132,172,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    height: 500px;
}
.escola-div-conteudo {
    width: 35%;
}
.escola-imagem {
    width: 22%;
}
.escola-titulo {
    padding: 24px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.escola-texto-um {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    height: 115px;
}
.escola-texto-dois {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.estudante-imagem {
    width: 120px;
}
.estudante-icone {
    width: 24px;
}
.estudante-div {
    text-align: center;
}
.estudante-titulo {
    text-align: center;
    padding: 50px 0;
}
.estudante-todos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.rodape {
    background-color: black;
}
.rodpe-imagem {
    height: 60px;
    padding: 12px 0;
    
}