* {
    margin: 0;
    padding: 0;
}
.cabecalho {
    background-color: #84deff;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}
.cabecalho-imagem {
    width: 20%;
}
.cabecalho-lista-item {
    display: inline-block;
    align-items: center;
    font-size: 24px;
}
.escola {
    background: rgb(132,222,255);
    background: linear-gradient(90deg, rgba(132,222,255,1) 0%, rgba(90,181,214,1) 32%, rgba(52,148,183,1) 64%, rgba(23,132,172,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.escola-div-conteudo {
    width: 35%;
}
.escola-imagem {
    width: 25%;
}
.escola-titulo {
    padding: 24px 0;
}